In [1]:
import csv
import json
import re
import collections
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import pprint
pp=pprint.PrettyPrinter(indent=4)

In [25]:
# csvfile = open('ubic_click_action_1013.txt', 'r') # 2랑 차이는 뭘까 ? 2는 주피터에서 실행이 안된다!

# reader = pd.read_csv('./ubic_click_action_1013.txt')
# reader

file = open('all_ubic_click_action_1013.txt',mode='r').read()
# file

In [26]:
import json
file_json = json.loads(file)
# dict(file)

In [27]:
type(file_json)

list

In [28]:
# file_json

In [29]:
columns = file_json[0].keys() # column name list
columns_value_list = []
for row in file_json:
#     print(row.keys())
#     print(row.values())
    columns_value_list.append(list(row.values()))

In [30]:
# print(columns)
# columns_value_list

In [31]:
df_order_create_data = pd.DataFrame(columns_value_list, columns=columns)
df_order_create_data

,now,userId,productId,categoryId,actionType
0,2020-09-09T21:43:43.836991300,3247C51B5BF9664888D2D8774ECADE8E,792,6,click
1,2020-09-09T21:43:51.915039600,3247C51B5BF9664888D2D8774ECADE8E,792,6,hover
2,2020-09-09T21:48:38.470391600,BB9CE91DF2CD2B11B3DD2E5A40CA2294,1282,10,hover
3,2020-09-09T21:48:40.814385500,BB9CE91DF2CD2B11B3DD2E5A40CA2294,126,1,hover
4,2020-09-09T21:48:42.205469200,BB9CE91DF2CD2B11B3DD2E5A40CA2294,126,1,hover
...,...,...,...,...,...
2791,2020-10-13T16:42:02.919329300,48089,5424,6,hover
2792,2020-10-13T16:42:03.067323100,48089,45417,42,hover
2793,2020-10-13T16:42:03.214324,48089,20396,18,hover
2794,2020-10-13T16:42:03.546323300,48089,18616,17,hover
2795,2020-10-13T16:42:03.693324700,48089,1784,1,hover

인코딩
- one-hot encodings'로 변환시키는 pd.get_dummies 함수
- 카테고리 숫자형 인코딩: pd.factorize

In [32]:
# 테스트 코드
# action_type_encoding, action_type_restore = pd.factorize(df_order_create_data['actionType']) 
# action_type_encoding

df_order_create_data['userId'], userId_restore_Index = pd.factorize(df_order_create_data['userId'])

In [33]:
df_order_create_data
# productId 를 뽑을 수도 있고
# cateogryId 를 뽑을 수도 있다

                                now  userId  productId categoryId actionType
0     2020-09-09T21:43:43.836991300       0        792          6      click
1     2020-09-09T21:43:51.915039600       0        792          6      hover
2     2020-09-09T21:48:38.470391600       1       1282         10      hover
3     2020-09-09T21:48:40.814385500       1        126          1      hover
4     2020-09-09T21:48:42.205469200       1        126          1      hover
...                             ...     ...        ...        ...        ...
2791  2020-10-13T16:42:02.919329300     300       5424          6      hover
2792  2020-10-13T16:42:03.067323100     300      45417         42      hover
2793     2020-10-13T16:42:03.214324     300      20396         18      hover
2794  2020-10-13T16:42:03.546323300     300      18616         17      hover
2795  2020-10-13T16:42:03.693324700     300       1784          1      hover

[2796 rows x 5 columns]

In [34]:
df_order_create_data['actionType'], actionType_restore_Index = pd.factorize(df_order_create_data['actionType']) 
df_order_create_data

                                now  userId  productId categoryId  actionType
0     2020-09-09T21:43:43.836991300       0        792          6           0
1     2020-09-09T21:43:51.915039600       0        792          6           1
2     2020-09-09T21:48:38.470391600       1       1282         10           1
3     2020-09-09T21:48:40.814385500       1        126          1           1
4     2020-09-09T21:48:42.205469200       1        126          1           1
...                             ...     ...        ...        ...         ...
2791  2020-10-13T16:42:02.919329300     300       5424          6           1
2792  2020-10-13T16:42:03.067323100     300      45417         42           1
2793     2020-10-13T16:42:03.214324     300      20396         18           1
2794  2020-10-13T16:42:03.546323300     300      18616         17           1
2795  2020-10-13T16:42:03.693324700     300       1784          1           1

[2796 rows x 5 columns]

In [35]:
actionType_df = df_order_create_data[['userId','productId','actionType']]
actionType_df
# kurly id 를 넣었어야 했는데, local db id 를 넣어서
# 원격 db 올렸을 때 다 지워야 한다

      userId  productId  actionType
0          0        792           0
1          0        792           1
2          1       1282           1
3          1        126           1
4          1        126           1
...      ...        ...         ...
2791     300       5424           1
2792     300      45417           1
2793     300      20396           1
2794     300      18616           1
2795     300       1784           1

[2796 rows x 3 columns]

In [36]:
actionType_matrix = actionType_df.pivot_table('actionType', index='productId', columns='userId') 

## 다양하게 해서 변경 여지가 있다 ! 그리고 이전에 살펴본 책 다시 읽기 !
# 지금은 mean 이라는 이상한 연산을 적용했는데 count 그리고 actionType 별 다르게 적용해야 한다!
# 보고서 다시 살펴보면서 
actionType_matrix = actionType_matrix.fillna(0)
actionType_matrix

userId,0,1,2,3,4,5,6,7,8,9,...,291,292,293,294,295,296,297,298,299,300
productId,,,,,,,,,,,,,,,,,,,,,
94,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
106,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
107,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
108,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45962,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46176,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46746,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46761,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [45]:
test_pivot = pd.pivot_table(actionType_df, index = ['userId','productId'], values = 'actionType', aggfunc = 'count')
test_pivot

                  actionType
userId productId
0      792                 2
1      126                 2
       224                 1
       389                 3
       537                 2
...                      ...
300    9694                1
       18616               1
       20396               1
       20522               3
       45417               1

[796 rows x 1 columns]

In [38]:
actionType_sim = cosine_similarity(actionType_matrix, actionType_matrix)
actionType_sim_df = pd.DataFrame(data=actionType_sim, index=actionType_matrix.index , columns=actionType_matrix.index )
actionType_sim_df
# 치명적이게도 input: productId > output: productId 으로 작동하네!

productId,94,106,107,108,109,116,124,125,126,130,...,38165,38950,45353,45417,45552,45962,46006,46176,46746,46761
productId,,,,,,,,,,,,,,,,,,,,,
94,1.0,0.000000e+00,0.000000e+00,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,...,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
106,0.0,1.000000e+00,2.237114e-17,0.648886,0.0,0.000000,0.000000,0.000000,0.0,0.000000,...,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
107,0.0,2.237114e-17,1.000000e+00,0.324443,0.0,0.000000,0.000000,0.000000,0.0,0.000000,...,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
108,0.0,6.488857e-01,3.244428e-01,1.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,...,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
109,0.0,0.000000e+00,0.000000e+00,0.000000,1.0,0.707107,0.490159,0.707107,0.0,0.632456,...,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45962,0.0,0.000000e+00,0.000000e+00,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,...,0.0,0.0,0.000000,0.000000,0.000000,1.0,1.0,0.0,0.0,0.0
46006,0.0,0.000000e+00,0.000000e+00,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,...,0.0,0.0,0.000000,0.000000,0.000000,1.0,1.0,0.0,0.0,0.0
46176,0.0,0.000000e+00,0.000000e+00,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,...,0.0,0.0,0.079639,0.286154,0.483327,0.0,0.0,1.0,0.0,0.0
46746,0.0,0.000000e+00,0.000000e+00,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,...,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,1.0,0.0
46761,0.0,0.000000e+00,0.000000e+00,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,...,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,1.0

In [42]:
productId_list = actionType_sim_df.columns.tolist() # 열 이름 list
return_dict = {}
for name in productId_list: # 열 이름 루프돌면서
    input_index = name
    temp_df = actionType_sim_df[ (actionType_sim_df[input_index].index!=input_index)] # 행.index != 열.index 인 열을 추출
    
    return_dict[name] = temp_df[input_index].sort_values(ascending=False).index.tolist()[0] # 값 중 최댓값 하나 : 내림차 ascending=False
#     print(type(return_dict[name]))
#     print(name, return_dict[name])

In [41]:
# 결과
return_dict

{94: 247,
 106: 108,
 107: 108,
 108: 106,
 109: 145,
 116: 125,
 124: 131,
 125: 116,
 126: 389,
 130: 131,
 131: 124,
 145: 109,
 208: 704,
 224: 537,
 247: 94,
 327: 704,
 344: 94,
 349: 423,
 367: 505,
 377: 386,
 380: 386,
 381: 386,
 386: 381,
 387: 381,
 389: 629,
 391: 572,
 395: 377,
 423: 349,
 490: 1165,
 505: 367,
 516: 94,
 537: 94,
 572: 391,
 592: 6728,
 599: 367,
 606: 966,
 611: 802,
 628: 1016,
 629: 389,
 664: 802,
 682: 704,
 683: 4441,
 684: 367,
 685: 687,
 687: 685,
 704: 682,
 708: 685,
 710: 2408,
 724: 708,
 727: 710,
 743: 21594,
 756: 813,
 792: 94,
 802: 611,
 813: 1325,
 832: 1723,
 855: 1683,
 886: 94,
 931: 389,
 966: 606,
 987: 1071,
 1016: 3723,
 1045: 832,
 1071: 987,
 1079: 94,
 1146: 490,
 1165: 490,
 1170: 367,
 1225: 94,
 1282: 389,
 1325: 813,
 1347: 389,
 1405: 389,
 1428: 611,
 1504: 1623,
 1525: 611,
 1540: 611,
 1581: 1165,
 1623: 1683,
 1638: 20514,
 1643: 1165,
 1656: 1638,
 1661: 802,
 1683: 855,
 1723: 832,
 1784: 1045,
 2000: 6000,
 2045: 3723,
 2123: 18814,
 2140: 3723,
 2171: 17745,
 2408: 710,
 2912: 505,
 3191: 4441,
 3399: 4441,
 3723: 3886,
 3763: 3846,
 3846: 3763,
 3866: 3886,
 3886: 3866,
 3908: 3927,
 3927: 3908,
 3952: 3965,
 3965: 3952,
 3992: 4043,
 4011: 4043,
 4029: 4011,
 4043: 4011,
 4060: 4079,
 4079: 4060,
 4097: 4060,
 4117: 4097,
 4141: 4187,
 4161: 3866,
 4187: 4141,
 4209: 3723,
 4441: 3399,
 4895: 46746,
 4909: 46761,
 5217: 46746,
 5368: 18831,
 5424: 18456,
 5607: 11809,
 5968: 4209,
 6000: 2000,
 6071: 20514,
 6079: 11794,
 6728: 592,
 8328: 46176,
 8587: 20564,
 9391: 46746,
 9686: 20514,
 9694: 6079,
 9831: 10257,
 9859: 3399,
 10121: 8328,
 10257: 9831,
 11786: 20514,
 11794: 6079,
 11809: 46176,
 11836: 9831,
 12251: 35297,
 17745: 46176,
 17972: 18831,
 18284: 18831,
 18367: 18831,
 18456: 5424,
 18471: 18831,
 18511: 18831,
 18582: 18831,
 18616: 18814,
 18678: 18940,
 18694: 18831,
 18814: 18831,
 18831: 18814,
 18844: 18814,
 18894: 18814,
 18910: 18814,
 18940: 18678,
 20376: 29543,
 20396: 18616,
 20496: 20376,
 20514: 9686,
 20522: 11794,
 20564: 8587,
 21594: 45353,
 22944: 46746,
 22966: 46746,
 23039: 46746,
 27050: 46006,
 28873: 30531,
 28903: 46761,
 28946: 46761,
 29530: 20376,
 29543: 20376,
 30531: 38165,
 30544: 30555,
 30555: 30544,
 35297: 12251,
 38150: 30531,
 38165: 30531,
 38950: 20564,
 45353: 21594,
 45417: 5424,
 45552: 3399,
 45962: 46006,
 46006: 45962,
 46176: 17745,
 46746: 22966,
 46761: 8587}

In [43]:
## 디테일 데이터 확인하기
actionType_sim

array([[1.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 1.00000000e+00, 2.23711432e-17, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 2.23711432e-17, 1.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       ...,
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 1.00000000e+00]])